<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopShoes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/file-add.css' rel='stylesheet'>
    <!-- CSS -->
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- link cart icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- media footer icons CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="menubar">
            <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">Shop</span>
                <div class="contanier">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Product" asp-action="Add">AddProduct</a></li>
                        <li><a asp-controller="Product" asp-action="Index">Product</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">contact</a></li>
                        <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>

                    </ul>

                </div>
                <ul>
                    <partial name="_LoginPartial" />

                </ul>
            </div>
            <div class="sidebar">
                <div class="logo">
                    <i class="bx bx-menu menu-icon"></i>
                    <span class="logo-name">Shop</span>
                </div>
                <div class="sidebar-content">
                    <ul class="lists">
                        <li class="list">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <i class="icon"><iconify-icon icon="ic:outline-home" width="20" height="20"></iconify-icon></i>
                                <span class="link">Home Page</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="icon">
                                    <iconify-icon icon="carbon:product" width="20" height="20"></iconify-icon>
                                </i>
                                <span class="link">Product</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
                                <i class="icon">
                                    <iconify-icon icon="ic:baseline-post-add" width="20" height="32"></iconify-icon>
                                </i>
                                <span class="link">Add Product</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="icon">
                                    <iconify-icon icon="carbon:category" width="20" height="20"></iconify-icon>
                                </i>
                                <span class="link">Category</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="icon">
                                    <iconify-icon icon="raphael:cart" width="20" height="20"></iconify-icon>
                                </i>
                                <span class="link">Cart</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="icon">
                                    <iconify-icon icon="streamline:money-cash-bag-dollar-bag-payment-cash-money-finance" width="20" height="20"></iconify-icon>
                                </i>
                                <span class="link">Payment</span>
                            </a>
                        </li>
                        <li class="list">
                            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">
                                <i class="icon">
                                    <iconify-icon icon="streamline:interface-login-key-entry-key-lock-login-pass-unlock" width="20" height="20"></iconify-icon>
                                    <span class="link">Login</span>
                                </i>
                            </a>
                        </li>
                    </ul>
                    <div class="bottom-cotent">
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="icon">
                                    <iconify-icon icon="mdi:about" width="20" height="20"></iconify-icon>
                                </i>
                                <span class="link">About Shop</span>
                            </a>
                        </li>
                        <li class="list">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">
                                <i class="icon">
                                    <iconify-icon icon="solar:logout-3-outline" width="20" height="20" flip="horizontal"></iconify-icon>
                                </i>
                                <span class="link">Logout</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
        <section class="overlay"></section>
    </header>
    @RenderBody()

    <script src="~/js/script.js"></script>

   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
