@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar Menu | Side Navigation Bar</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>
    <header>

        <nav class="menubar">
            <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">Shop</span>
                <div class="contanier">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">shop</a></li>
                        <li><a href="#">contact</a></li>
                        <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Login">login</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>

                        @*<button class="button" id="form-open">Login</button>*@
                        <!-- <li class="nav-item"> -->
                        <form>
                            <input type="text" placeholder="Search...">
                            <button type="submit">Search</button>
                        </form>
                        <!-- </li> -->
                    </ul>
                </div>
            </div>


            <div class="sidebar">
                <div class="logo">
                    <i class="bx bx-menu menu-icon"></i>
                    <span class="logo-name">CodingLab</span>
                </div>

                <div class="sidebar-content">
                    <ul class="lists">
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="link">Dashboard</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-bar-chart-alt-2 icon"></i>
                                <span class="link">Revenue</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-bell icon"></i>
                                <span class="link">Notifications</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-message-rounded icon"></i>
                                <span class="link">Messages</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-pie-chart-alt-2 icon"></i>
                                <span class="link">Analytics</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-heart icon"></i>
                                <span class="link">Likes</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-folder-open icon"></i>
                                <span class="link">Files</span>
                            </a>
                        </li>
                    </ul>

                    <div class="bottom-cotent">
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-cog icon"></i>
                                <span class="link">Settings</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-log-out icon"></i>
                                <span class="link">Logout</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="contanier">
            <div class="content">
                <div class="div-text">
                    <span>outfit of the day</span>
                    <h3>all your</h3>
                    <h1>styles are here</h1>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
                        Doloremque unde sunt eum illum ab tempora illo iure sequi <br> minus culpa.
                    </p>
                    <a href="#" class="btn">buy now</a>
                </div>

                <div class="div-img">
                    <img id="big-img" src="jacket1.png" alt="">
                </div>

                <div class="small-img">
                    <img onclick="myTshirt(this.src)" src="jacket1.png" alt="">
                    <img onclick="myTshirt(this.src)" src="jacket2.png" alt="">
                    <img onclick="myTshirt(this.src)" src="jacket3.png" alt="">
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="overlay"></section>

    <script src="js/JavaScriptLayout.js"></script>

</body>

</html>