@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>
<body>
    <header>
        <nav class="menubar">
            <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">Shop</span>
                <div class="contanier">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Product" asp-action="Add">AddProduct</a></li>
                        <li><a asp-controller="Product" asp-action="Index">Product</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">contact</a></li>
                        <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>

                    </ul>

                </div>
                <ul>
                    <partial name="_LoginPartial" />

                </ul>
            </div>
            <div class="sidebar">
                <div class="logo">
                    <i class="bx bx-menu menu-icon"></i>
                    <span class="logo-name">Shop</span>
                </div>
                <div class="sidebar-content">
                    <ul class="lists">
                        <li class="list">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="link">Dashboard</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-bar-chart-alt-2 icon"></i>
                                <span class="link">Revenue</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-bell icon"></i>
                                <span class="link">Notifications</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-message-rounded icon"></i>
                                <span class="link">Messages</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-pie-chart-alt-2 icon"></i>
                                <span class="link">Analytics</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-heart icon"></i>
                                <span class="link">Likes</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-folder-open icon"></i>
                                <span class="link">Files</span>
                            </a>
                        </li>
                    </ul>
                    <div class="bottom-cotent">
                        <li class="list">
                            <a href="#" class="nav-link">
                                <i class="bx bx-cog icon"></i>
                                <span class="link">Settings</span>
                            </a>
                        </li>
                        <li class="list">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">
                                <i class="bx bx-log-out icon"></i>
                                <span class="link">Logout</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
        <section class="overlay"></section>
    </header>

    <main>
        <div class="contanier">
            <div class="content">
                <div class="div-text">
                    <span>Outfit of the day</span>
                    <h3>All your</h3>
                    <h1>Styles are here</h1>
                    <p>
                        Welcome to our store! We're thrilled to have you here <br>
                        Step inside and discover a world of endless possibilities <br>
                        Our shelves are filled with the latest trends, high-quality products, and exceptional deals <br>
                        Our friendly staff is here to assist you and make your shopping experience truly memorable. <br>
                        Enjoy your time exploring our store!
                    </p>
                    <a asp-controller="Product" asp-action="Index" class="btn">buy now</a>
                </div>
                <div class="div-img">
                    <img id="big-img" src="https://i.ibb.co/Yd2Z16g/International-Women-s-Day-Facebook-Post.png" alt="">
                </div>
                <div class="small-img">
                    <img onclick="myTshirt(this.src)" src="~/images/jacket1.png" alt="">
                    <img onclick="myTshirt(this.src)" src="~/images/jacket2.png" alt="">
                    <img onclick="myTshirt(this.src)" src="~/images/jacket3.png" alt="">
                    <img onclick="myTshirt(this.src)" src="https://i.ibb.co/Yd2Z16g/International-Women-s-Day-Facebook-Post.png" alt="">
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>
