/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/file-add.css');

/* nabar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    max-height: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

    nav .logo {
        display: flex;
        align-items: center;
        margin: 0 24px;
    }

.logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}

.logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 300px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: #4070f4;
    width: auto;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open ~ .overlay {
    opacity: 1;
    left: 300px;
    pointer-events: auto;
}

/* main body content */
.contanier {
    width: 100%;
    height: 100%;
}

    .contanier ul li {
        display: inline-block;
        margin-left: 80px;
        height: 10px;
        position: relative;
        line-height: 10px;
        cursor: pointer;
    }

        .contanier ul li::after {
            content: '';
            position: absolute;
            bottom: 100px;
            left: 100px;
            background: #79bccf;
            width: 0%;
            height: 3px;
            transition: 0.3s;
        }

        .contanier ul li:hover::after,
        .contanier ul li.active::after {
            max-width: 100%;
        }

        .contanier ul li a {
            color: #444;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 15px;
            transition: 0.3s;
        }

            .contanier ul li a:hover,
            nav ul li.active a {
                color: #79bccf;
            }

    .contanier .content {
        max-width: 100%;
        height: calc(100vh 5px);
        background: linear-gradient(130deg, #c4e1f8, #eeb0bd);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }

.content .div-text span {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: bold;
}

.content .div-text h3 {
    text-transform: uppercase;
    letter-spacing: 58px;
    font-size: 50px;
    font-weight: normal;
    margin: 20px 0 8px;
    color: #444;
}

.content .div-text h1 {
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #444;
    margin-bottom: 25px;
}

.content .div-text p {
    color: #666;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.3px;
    margin-bottom: 55px;
}

.content .div-text .btn {
    padding: 15px 35px;
    background-color: #fff;
    color: #79bccf;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

    .content .div-text .btn:hover {
        color: #fff;
        background-color: #79bccf;
    }

.content .div-img img {
    width: 300px;
    margin-left: 100px;
}

.content .small-img {
    padding: 70%;
    padding-left: 0;
    padding-bottom: 20%;
    display: flex;
    gap: 30px;
    margin-top: 25vh;
}

    .content .small-img img {
        width: 80px;
        cursor: pointer;
        transition: 0.4s;
    }

        .content .small-img img:hover {
            transform: scale(1.2);
        }

/* footer */

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    flex-wrap: nowrap;
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 100px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 60px;
        }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
/*menu show */

.wrapper {
    display: flex;
    padding: 35px 35px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    position: inherit;
}

    .wrapper i {
        top: 50%;
        height: 50px;
        width: 80px;
        cursor: pointer;
        font-size: 1rem;
        position: inherit;
        text-align: center;
        line-height: 50px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.23);
        transition: transform 0.01s linear;
    }

        .wrapper i:active {
            transform: translateY(-50%) scale(0.5);
        }

        .wrapper i:first-child {
            left: -22px;
        }

        .wrapper i:last-child {
            right: -22px;
        }

    .wrapper .carousel {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 12px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        border-radius: 8px;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

    .carousel.dragging .card {
        cursor: grab;
        user-select: none;
    }

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

    .carousel .card .img {
        background: #8B53FF;
        height: 168px;
        width: 168px;
        border-radius: 50%;
    }

.card .img img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1rem;
}

@media screen and (max-width: 90px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}
/* buttoon add product */

.add-product-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #010512;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 10px;
}
