@using ShopShoes
@model ShopShoes.Models.AddProductViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <link rel="stylesheet" href="~/css/Product.css">

</head>
<body>
    <div class="container">
        <h1>Add Product</h1>
        <form method="post" action="Add">
            <div class="form-group">
                <label for="name">Product Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" id="price" name="price" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="datecreate">Datecreate:</label>
                <input type="date" id="price" name="price" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="status">Status:</label>
                <textarea id="status" name="status" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Add Product</button>
                <button type="submit" asp-controller="Home" asp-action="Index"> Cancel</button>

            </div>
        </form>
    </div>
</body>
</html>
