@model ShopShoes.Models.UpdateProductViewModel
@using ShopShoes

@{
    ViewData["Title"] = "Edit Product";
}
<link rel="stylesheet" href="~/css/StyleSheet.css">
<link rel="stylesheet" href="~/css/Product.css">

<div class="container">
    <h1>Edit Product</h1>
    <form method="post" action="Edit">
        <div class="form-group">
            <label for="id">Product Id:</label>
            <input type="text" id="id" name="Id" asp-for="Id" readonly>
        </div>
        <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" id="name" name="name" asp-for="Name">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" asp-for="Price">
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" asp-for="Amount">
        </div>
        <div class="form-group">
            <label for="datecreate">Datecreate:</label>
            <input type="date" id="datecreate" name="datecreate" asp-for="DateCreate">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <textarea id="text" name="status" rows="4" asp-for="Status"></textarea>
        </div>
        <div class="form-group">
            <button type="submit">Edit Product</button>
            <button><a asp-controller="Product" asp-action="Index"></a>Cancel</button>
            <button type="submit" asp-controller="Product" asp-action="Delete">Delete</button>


        </div>
    </form>
</div>